*.dll
*.pdb
*.baml
*.cache
.vs/BestPracticeProject/v16/
BestPractice.WPF/bin/
BestPractice.WPF/obj/
BestPractice.App/bin/
BestPractice.App/obj/
BestPractice.Tests/bin/
BestPractice.Tests/obj/
BestPractice.EntityFramework/bin/
BestPractice.EntityFramework/obj/
BestPractice.Models/bin/
BestPractice.Models/obj/
BestPractice.Domain.Tests/obj/Debug/netcoreapp3.1/BestPractice.Domain.Tests.AssemblyInfo.cs
BestPractice.Domain.Tests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BestPractice.Domain.Tests/obj/BestPractice.Domain.Tests.csproj.nuget.g.targets
BestPractice.Domain.Tests/obj/BestPractice.Domain.Tests.csproj.nuget.dgspec.json
BestPractice.Domain.Tests/obj/BestPractice.Domain.Tests.csproj.nuget.g.props
BestPractice.Domain.Tests/obj/project.assets.json
SimpleTrader.FinancialModelingPrepApi/obj/Debug/netcoreapp3.1/SimpleTrader.FinancialModelingPrepApi.csprojAssemblyReference.cache
SimpleTrader.FinancialModelingPrepApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SimpleTrader.FinancialModelingPrepApi/obj/Debug/netcoreapp3.1/SimpleTrader.FinancialModelingPrepApi.AssemblyInfo.cs
SimpleTrader.FinancialModelingPrepApi/obj/Debug/netcoreapp3.1/SimpleTrader.FinancialModelingPrepApi.csprojAssemblyReference.cache~Stashed changes
SimpleTrader.FinancialModelingPrepApi/obj/Debug/netcoreapp3.1/SimpleTrader.FinancialModelingPrepApi.csprojAssemblyReference.cache
